/* Enter your custom styles here */
.paddingZero {
  padding: 35px;
}
iframe {
  display: block;       /* iframes are inline by default */
  height: 100vh;        /* Viewport-relative units */
  width: 100vw;
}